body { 
  margin: 0;
  background-color: #ffffff;
}

h2 {
  margin: 100px auto 30px;
  width: 90%;
  font-size: 26px;
}

// index.html
#container { 
  margin: 100px auto;
  display: block;
  width: 70%;
  height: auto;
  aspect-ratio: 3 / 2;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    visibility: hidden;
  }

  canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }
}

// ホバーエフェクトページ
.hover-effect {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
  }

  canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  .flexbox-col2 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto 100px;
    
    .container { 
      display: block;
      width: 48%;
      height: auto;
      aspect-ratio: 3 / 2;
      // overflow: hidden;
      position: relative;

      &.-long {
        aspect-ratio: 645 / 900;
      }

      p {
        position: absolute;
        bottom: -30px;
        left: 0;
        font-size: 18px;
        z-index: 1;
      }
    }
  }

  .flexbox-col3 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto 100px;
    
    .container { 
      display: block;
      width: 30%;
      height: auto;
      aspect-ratio: 3 / 2;
      overflow: hidden;
      position: relative;
    }
  }

  .mv {
    width: 70%;
    margin: 0 auto 100px;

    .container {
      width: 100%;
      height: auto;
      aspect-ratio: 645 / 900;
      overflow: hidden;
      position: relative;

      &+.container {
        margin-top: 100px;
      }
    }
  }
}

// mvのインタラクションページ
.mv-interaction {
  main {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
  }

  canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
}
