@use '../setting/global' as *;
/* ========================================
mv-interaction
======================================== */

.mv-interaction {
  width: 100%;
  height: 100vh;
  position: relative;

  .mv-img {
    // imgはテクスチャのsrc取得元としてのみ使用（非表示）
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
  }

  canvas {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
}